extends layout

block scripts
  script(src='/js/scrap.js')

block content
  if error
    .row
      div(class='alert alert-danger w-100' role='alert')= error
  if results
      for result in results
        div(class='row')
          div(class='card w-50 m-2')
            div(class='card-header') #{result.resin ? result.resin : ''}#{result.reinforcement ? '-' + result.reinforcement : ''}#{result.form ? '-' + result.form : ''}
            div(class='card-body clearfix')
              h4(class='card-title') #{result.resin ? resins[result.resin] : ''}#{result.reinforcement ? ' - ' + reinforcements[result.reinforcement] : ''}#{result.form ? ' - ' + forms[result.form] : ''}
              p
                b Shortcut Name:
                |  #{result.resin ? result.resin : ''}#{result.reinforcement ? '-' + result.reinforcement : ''}#{result.form ? '-' + result.form : ''}
              p
                b Detailed Name:
                |  #{result.resin ? resins[result.resin] : ''}#{result.reinforcement ? ' - ' + reinforcements[result.reinforcement] : ''}#{result.form ? ' - ' + forms[result.form] : ''}
              p
                b Origin Company:
                |  #{result.origin ? origins[result.origin] : 'Unknown'}
              p
                b Manufacturing Method:
                |  #{result.method ? methods[result.method] : 'Unknown'}
              p
                b Current Location:
                |  #{result.location ? locations[result.location] : 'Unknown'}
              p
                b Quantity:
                |  #{result.quantity ? result.quantity : '?'} kg
              p
                b Research Notes:
                p #{result.notes ? result.notes : ''}
              a(class='btn btn-primary mr-2' href='javascript:void(0)') Save
  else
    .row
      form(action='/scrap/search' method='post')
        if resins
          .form-group
            label(for='select-resin') Resin
            .input-group
              span(class='input-group-addon')
                input(type='checkbox' id='checkbox-resin' onclick='toggle(\'resin\')')
              select(class='form-control' id='select-resin' name='resin' disabled)
                for name, value in resins
                  option(value=value)= name
        if reinforcements
          .form-group
            label(for='select-reinforcement') Reinforcement
            .input-group
              span(class='input-group-addon')
                input(type='checkbox' id='checkbox-reinforcement' onclick='toggle(\'reinforcement\')')
              select(class='form-control' id='select-reinforcement' name='reinforcement' disabled)
                for name, value in reinforcements
                  option(value=value)= name
        if forms
          .form-group
            label(for='select-form') Form
            .input-group
              span(class='input-group-addon')
                input(type='checkbox' id='checkbox-form' onclick='toggle(\'form\')')
              select(class='form-control' id='select-form' name='form' disabled)
                for name, value in forms
                  option(value=value)= name
        button(class='btn btn-primary' type='submit') Search
