doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='A resource to find information on composite scrap, available composite scrap, and existing composite recyclers.')

    title Composites Recycling - #{view}

    //- FontAwesom JaveScript
    script(src="https://use.fontawesome.com/f71a763071.js")

    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'
      integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb'
      crossorigin='anonymous'
    )
    link(rel='stylesheet' href='/css/style.css')

  body
    div(class='container')
      header(class='header')
        div(class='d-flex align-items-center')
          //- Logo
          img(class='m-2' src='/images/logo.svg' alt='Composites Recycling' width='64px' height='64px')
          //- Navigation
          ul(class='nav nav-pills p-2')
            li(class='nav-item')
              a(class='nav-link' id='nav-link-home' href='/' class={active: view === 'home'}) Home
            li(class='nav-item')
              a(class='nav-link' id='nav-link-about' href='/about' class={active: view === 'about'}) About
            li(class='nav-item')
              a(class='nav-link' id='nav-link-learn' href='/learn' class={active: view === 'learn'}) Learn
            li(class='nav-item')
              a(class='nav-link' id='nav-link-search' href='/search' class={active: view === 'search'}) Search
            li(class='nav-item')
              a(class='nav-link' id='nav-link-contact' href='/contact' class={active: view === 'contact'}) Contact
          //- Buttons
          div(class='btn-group ml-auto p-2' role='group')
            button(type='button' class='btn btn-primary' onclick='location.pathname=\'/scrap/submit\'')
              i(class='fa fa-cog')
            button(type='button' class='btn btn-primary' onclick='location.pathname=\'/user/folder\'')
              i(class='fa fa-folder')
            button(type='button' class='btn btn-primary' onclick=authenticated ? 'location.pathname=\'/user/logout\'' : 'location.pathname=\'/login\'')
              i(class='fa' class=authenticated ? 'fa-user-times' : 'fa-user')

      main(role='main')
        block content

    //- Child JavaScript
    block scripts

    //- Bootstrap JavaScript
    script(
      src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
      ntegrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN'
      crossorigin='anonymous'
    )
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'
      integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh'
      crossorigin='anonymous'
    )
    script(
      src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js'
      integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ'
      crossorigin='anonymous'
    )
